.canvas {
    margin-top: 30px;
}

.area {
    width: 300px;
    height: 300px;
    background-color: #c3c3c3;
    margin: 0 auto;
}

.action-row {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    margin-bottom: 30px;
}

.action-row > div {
    margin-right: 10px;
}

.helper-title {
    text-align: center;
    color: #e91e63;
    margin-bottom: 20px;
    font-weight: 600;
}